html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	RESET 	*/

h1{
	font-size: 3em;
	font-family: Impact, sans-serif;
}

html, *, *:after, *:before{
	box-sizing: border-box;
}

body{
	background-color: gray;
}


.background-theme{
	background-color: rgba(0,0,0,0.3);
	border: 1px #ccc solid;
	border-radius: 5px;
	max-width: 1000px;
	width: 100%;
	color: white;

}

div.container{
	list-style: none;
	text-align: center;
}

div.container a{
	color: white;
	text-decoration: none;	
}

.flex-centralized{
	display: flex;
	margin: 5px;
	justify-content: center;
}

.image-container img{
	height: 300px;
}

.form-area > form.background-theme{
	display: flex;
	justify-content: center;
}

.main-text-content{
	text-align: left;
}

.main-text-content p{
	padding: 10px;
	font-family: sans-serif;
} 

.form-area > form.background-theme, footer > p {
	padding: 20px;
}

.form-area > form.background-theme > input{
	padding: 9px;
	font-weight: bold;
}

nav.navigation-bar > ul{	
	display: flex;
}

nav.navigation-bar > ul > li{
	padding: 10px;
	flex: 3;
}

nav.navigation-bar > ul > li:hover{
	color: black;
	background-color: rgba(0,0,0,0.4);
}

nav.navigation-bar > ul > li.social{
	flex: 1;
}

nav.navigation-bar > ul > li:nth-child(2){
	order: -1;
}

@media all and (max-width: 1000px){
	nav.navigation-bar > ul{
		flex-wrap: wrap;
	}
	nav.navigation-bar > ul > li{
		flex: 1 1 50%;
	}
	nav.navigation-bar > ul > li.social{
		flex: 1 1 25%;
	}
}

@media all and (max-width: 500px){
	nav.navigation-bar > ul > li {
		flex: 1 1 100%;
	}

	.form-area > form.background-theme{
		flex-direction: column;
	}	
}